@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: linear-gradient(to right, rgb(255, 149, 149), rgb(255, 212, 212))  ;
}


a.active hr{
  display:block;
}


*{
  font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}

@media (max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}